.number {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
}


.container {
  width: 640px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.ingredients {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 366px;
}

.ingredient {
  display: flex;
  align-items: center;
}

.ingredient:first-of-type {
  margin-top: 0;
}

.ingredientImage {
  width: 64px;
  height: 64px;
  background: linear-gradient(var(--background), var(--background)) padding-box,
  linear-gradient(45deg, #801AB2, #4C4CFF) border-box;
  border: 2px solid transparent;
  border-radius: 50%;
  object-fit: cover;
}

.ingredientName {
  flex-grow: 1;
  max-width: 320px;
}

.price {
  display: flex;
  flex: 1;
  justify-content: end;
  align-items: center;
}

.panel {
  display: flex;
  align-items: center;
}

.date {
  flex-grow: 1;
}
