.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 64px;
}

.close {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.absolute {
  position: absolute;
  top: 0;
  right: 0;
}
