.ordersList {
  display: flex;
  flex-direction: column;
  width: 608px;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.ordersList::-webkit-scrollbar-track {
  margin-bottom: calc(var(--offset-base-size) * 15);
}
