.ingredients {
  display: grid;
  grid-gap: calc(var(--offset-base-size) * 8) calc(var(--offset-base-size) * 6);
  grid-template-columns: repeat(2, min-content);
  padding: 0;
  margin: 0;
  list-style: none;
}
