.layout {
  display: flex;
  height: 100%;
}

.sidebar {
  max-width: 320px;
  min-width: 320px;
}

.content {
  flex-grow: 1;
}

.ordersList {
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.links {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.ordersList::-webkit-scrollbar-track {
  margin-bottom: calc(var(--offset-base-size) * 16);
}

.form {
  width: min-content;
}
