.layout {
  display: flex;
  height: 100%;
}

.feed {
  display: flex;
  flex-direction: column;
  width: 608px;
}

.message {
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
  width: 608px;
}

.ordersList {
  flex-grow: 1;
  padding: 0;
  margin: 0;
  list-style: none;
}

.ordersList::-webkit-scrollbar-track {
  margin-bottom: calc(var(--offset-base-size) * 15);
}
