.burgerIngredients {
  display: grid;
}

.tabs {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.categories {
  padding: 0;
  margin: 0;
  list-style: none;
}

.categories::-webkit-scrollbar-track {
  margin-bottom: calc(var(--offset-base-size) * 13);
}
